[init]
	defaultBranch = main

[user]
	name = {git.name}
	email = {git.email}

[alias]
	# Assumes `main` branch
	recent = "!r() { refbranch=$1 count=$2; git for-each-ref --sort=-committerdate refs/heads --format='%(refname:short)|%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:-20} | while read line; do branch=$(echo \"$line\" | awk 'BEGIN { FS = \"|\" }; { print $1 }' | tr -d '*'); ahead=$(git rev-list --count \"${refbranch:-origin/main}..${branch}\"); behind=$(git rev-list --count \"${branch}..${refbranch:-origin/main}\"); colorline=$(echo \"$line\" | sed 's/^[^|]*|//'); echo \"$ahead|$behind|$colorline\" | awk -F'|' -vOFS='|' '{$5=substr($5,1,70)}1' ; done | ( echo \"ahead|behind||branch|lastcommit|message|author\\n\" && cat) | column -ts'|';}; r"

[core]
	editor = nvim
	# Mac specific! TODO: Windows!
	# https://github.com/dandavison/delta/issues/447#issuecomment-1239398586
	pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark || echo light)"	
	excludesFile = ~/.gitignore

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true # use n and N to move between diff sections
	side-by-side = false
	tabs = 3

[delta "light"]
	light = true
	syntax-theme = GitHub

[delta "dark"]
	light = false
	syntax-theme = ansi

[merge]
	conflictstyle = diff3
