[user]
	name = {git.name}
	email = {git.email}

[core]
	autocrlf = input # Mac-specific, TODO: Windows
	editor = nvim
	excludesFile = ~/.gitignore
	# Mac specific! TODO: Windows!
	# https://github.com/dandavison/delta/issues/447#issuecomment-1239398586
	pager = delta --features "$(defaults read -globalDomain AppleInterfaceStyle > /dev/null 2>&1 && echo dark || echo light)"

[init]
	defaultBranch = main

[interactive]
	diffFilter = delta --color-only

[merge]
	conflictstyle = zdiff3

# https://git-scm.com/docs/gitattributes#_defining_a_custom_merge_driver
[merge "theirs"]
	name = Keep upstream changes
	driver = cp -f "%B" "%A"

[rebase]
	autoSquash = true

#--- Tool specific ---#

[delta]
	navigate = true # use n and N to move between diff sections
	side-by-side = false
	tabs = 3

[delta "light"]
	light = true
	syntax-theme = GitHub

[delta "dark"]
	light = false
	syntax-theme = ansi
