{{- $signCommits := promptBoolOnce . "signCommits" "Sign commits with 1Password SSH" -}}
{{- $corporateCa := promptStringOnce . "corporateCa" "Corporate CA path (blank for none)" "" -}}
{{- $name := promptStringOnce . "name" "Git name" "Connor Sullivan" -}}
{{- $email := promptStringOnce . "email" "Git email" -}}

sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
signCommits = {{ $signCommits }}
corporateCa = {{ $corporateCa | quote }}
name = {{ $name | quote }}
email = {{ $email | quote }}

[diff]
pager = "delta"
